<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All of our Ales</h1>
    <a href="/">Home</a>
    <a href="/thelogin">Dashboard</a>
    <ul>
        {% for ales in all_ales %}
        
        <li>
            <a href="/show/{{ales.id}}">{{ales.name}}</a>
            <a href="/fave_beer/{{ales.id}}">Add to dashboard</a></li>
        
        {% endfor %}
    </ul>
</body>
</html>