<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
       
        .logout{
            margin-top: -30px;
            display:inline-block;
            margin-left:90%;
        }
        .add{
            
            display:inline-block;
            margin-top:10px;
            margin-left:85%
        }
       .header{
           display: inline-block;
           margin-top:10px;
           vertical-align: top;
       }
       
    </style>
</head>
<body>
    <div class='header'>
        <h3>Welcome, {{myuserfirstname}}</h3>
    </div>
        <div class='logout'>
            <a class="btn btn-primary" href='/logout'>Log Out</a>
        </div>

        <div class='add'>
            <a class='btn btn-primary' href='/add'>Add Your Own Brew</a>
        </div>
    <hr>

    <h3>Favorite Beers: </h3>
    <!-- <form action='/searching'> -->
    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Brewery</th>
                <th scope="col">Type</th>
                <th scope="col">ABV %</th>
                <th scope="col">IBU</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">SCULPIN</th>
                <td><a href='/searching2'>Ballast Point</a></td>
                <td>India Pale Ale</td>
                <td>7%</td>
                <td>70 IBUS</td>
              </tr>
              <tr>
                <th scope="row">SOUR WENCH</th>
                <td>Ballast Point</td>
                <td>Blackberry Ale</td>
                <td>7%</td>
                <td>10 IBUS</td>
              </tr>
              <tr>
                <th scope="row">The Patsy</th>
                <td>Barley Forge</td>
                <td>Coconut Rye Stout</td>
                <td>6.6%</td>
                <td>37 IBUS</td>
              </tr>
            </tbody>
          </table>
          <!-- </form> -->
    
</body>
</html>