<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
       
        .logout{
            margin-top: -30px;
            display:inline-block;
            margin-left:90%;
        }
        .add{
            
            display:inline-block;
            margin-top:10px;
            margin-left:85%
        }
       .header{
           display: inline-block;
           margin-top:10px;
           vertical-align: top;
       }
       
    </style>
</head>
<body>
    <div class='header'>
        <h3>Welcome, {{myuserfirstname}}</h3>
    </div>
        <div class='logout'>
            <a class="btn btn-primary" href='/logout'>Log Out</a>
        </div>

        <div class='add'>
            <a class='btn btn-primary' href='/add'>Add Your Own Brew</a>
            <a class='btn btn-primary' href='/'>Home</a>
        </div>
    <hr>

    <h3>Favorite Beers: </h3>
    <form action='/searching2' method='POST'>
      {% csrf_token %}
    <!-- <form action='/searching'> -->
    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Brewery</th>
                <th scope="col">Type</th>
                <th scope="col">ABV %</th>
                <th scope="col">IBU</th>
                <th scope='col'>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">SCULPIN</th>
                <td><a href='/searching2'>Ballast Point</a></td>
                <td>India Pale Ale</td>
                <td>7%</td>
                <td>70 IBUS</td>
              {% for beer in all_beers %}
              </tr>
                <th scope="row">{{beer.name}}</th>
                <td><button type='submit'>{{beer.brewery}}</button></td>
                <input type="hidden" name='beername' value='{{beer.brewery}}'>
                <td>{{beer.category}}</td>
                <td>{{beer.abv}}</td>
                <td>{{beer.ibu}}</td>
                <td>{{beer.rating}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </form>
    
</body>
</html>