<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All of our lagers</h1>
    <a href="/">Home</a>
    <a href="/thelogin">Dashboard</a>
    <ul>
        {% for lager in all_lagers %}
        <li>
            <a href="/show/{{lager.id}}">{{lager.name}}</a>
            <a href="/fave_beer/{{lager.id}}">Add to dashboard</a></li>
        </li>
        {% endfor %}
    </ul>
</body>
</html>