<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .box1{
        width:350px;
        border:3px solid black;
    }
    img{
        width:300px;
        height:300px;
    }
    .box2{
        width:350px;
        border:3px solid black;
        display:block;
    }
    .box3{
        width:350px;
        border:3px solid black;
        display:block;
    }
    .x1{
        display:inline-block;
    }
    .x2{
        display:inline-block;
    }
    </style>
</head>
<body>
    
    <h3>{{namez}}</h3>
    <p>Rating: {{ratingz}}  </p>
    <p>Price: {{pricez}}</p>
    <p>{{locationz.address1}} {{locationz.city}} {{locationz.state}} {{locationz.zip_code}}</p>
    <p><img src='{{imgz}}'></p>

    
    
</body>
</html>