<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beer Information</title>
</head>
<body>
    <h1>The information for {{beer_info.name}} is below</h1>
    <a href="/thelogin">Dashboard</a>
    <a href="/">Home</a>
    <ul>
        <li>
            Brewery: {{beer_info.brewery}}
        </li>
        <li>
            IBU: {{beer_info.ibu}}
        </li>
        <li>    
            ABV: {{beer_info.abv}}
        </li>
    </ul>
</body>
</html>